body {
    background-color: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(166, 247, 220);
    color: rgb(56, 56, 56);
    
    
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav li {
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
}
section {
    max-width: 800px;
    margin: 0 auto;
}
nav a {
    text-decoration: none;
    color: rgb(56, 56, 56)
}
h2 {
    color: aliceblue;
}
img {
    border-radius: 8px;
}
  
  
  
  
  